<div style="background-color: #5c0404" class="w-full">
  <div class="flex flex-col items-center p-2">
    <div class="w-full md:w-6/12 flex justify-center">
      <label class="font-montserrat text-white text-lg md:text-xl w-2/12" for=""
        >Playlist:
      </label>
      <input
        #inpPlaylist
        class="w-6/12 outline-none font-nunito pl-2 focus:border-black focus:border-b-2 border-solid rounded-l-md"
        type="text"
        name=""
        id=""
      />
      <button
        (click)="ObtenerItemsPlaylist(inpPlaylist)"
        class="flex justify-center bg-gray-400 w-2/12 hover:bg-gray-800 rounded-r-md"
      >
        <span class="material-icons text-white"> play_arrow </span>
      </button>
    </div>

    <div class="w-4/12 justify-center flex mt-8 mb-5">
      <img
        id="imgActual"
        class="h-full w-auto"
        src="././assets/logoYoutube.png"
        alt=""
      />
    </div>

    <div class="flex w-4/12 justify-center">
      <ng-container *ngIf="GetPlayer() != null">
        <label id="lblCurrent" class="text-white font-nunito whitespace-nowrap">
          {{ GetCurrentSong().snippet.title }}</label
        >
      </ng-container>
    </div>

    <div class="flex w-4/12 justify-around mt-6">
      <button (click)="SkipPrev()" class="text-white hover:text-red-400">
        <span class="material-icons text-5xl"> skip_previous </span>
      </button>
      <ng-container *ngIf="!CheckIfVideoPlaying()">
        <button (click)="Play()" class="text-white hover:text-red-400">
          <span class="material-icons text-5xl"> play_circle </span>
        </button></ng-container
      >
      <ng-container *ngIf="CheckIfVideoPlaying()">
        <button (click)="Pause()" class="text-white hover:text-red-400">
          <span class="material-icons text-5xl"> pause </span>
        </button>
      </ng-container>

      <button (click)="SkipNext()" class="text-white hover:text-red-400">
        <span class="material-icons text-5xl"> skip_next </span>
      </button>
      <button (click)="VolDwn()" class="text-white hover:text-red-400">
        <span class="material-icons text-5xl"> volume_down </span>
      </button>
      <button (click)="VolUp()" class="text-white hover:text-red-400">
        <span class="material-icons text-5xl"> volume_up </span>
      </button>
    </div>
    <div
      style="background-color: #350505"
      class="w-12/12 md:w-6/12 max-h-80 h-80 overflow-y-auto mt-6 flex flex-col items-center pt-4 pb-4 mb-20 rounded-md"
    >
      <ng-container *ngFor="let item of GetPlaylistItems(); let i = index">
        <div
          [ngClass]="{ 'bg-red-400': i === currentIndex }"
          class="w-10/12 h-10 flex items-center hover:bg-red-700 hover:border-gray-900 rounded-sm mb-2"
          (click)="playSelectedItem(i)"
        >
          <img
            class="h-full w-auto mr-4"
            src="{{ item.snippet.thumbnails.high.url }}"
            alt=""
          />
          <label class="text-white font-nunito">{{
            item.snippet.position + 1 + " - " + item.snippet.title
          }}</label>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="absolute top-0 right-0 cursor-pointer" (click)="alertUpdates()">
  <span class="material-icons text-5xl text-white p-4"> feed </span>
</div>
<div id="player"></div>
